/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&family=Koulen&display=swap');

*{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

.editrestaurantform{
    position: fixed;
    left: 50%;
    top: 50%;
}

.editrestaurantform form{
    width: 50%;
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.editrestaurantform form h1{
    text-align: center;
}

.editrestaurantform form span{
    position: absolute;
    color: black;
    right: 40px;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.editrestaurantform form span:hover{
    color: red;
}

.editrestaurantform form section{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
}

.editrestaurantform form button{
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: white;
}

.editrestaurantform form button:hover{
    border-color: white;
    color: white;
    width: 100%;
}

input[type="text"]{
    border: 5px solid white;
    border-radius: 5px;
    height: 50%;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 35px;
    outline: none;
    font-size: 15px;
}

input[type="text"]:focus, input[type="text"]:hover{
    background-color: rgba(48, 48, 48, 0.1);
    border-color: rgba(48, 48, 48, 0.7);
}

.editrestaurantform section i{
    position: absolute;
    left: 15px;
    bottom: 8px;
    padding-right: 10px;
}

.disabled{
    display: none;
}

.disabled.show{
    display: block;
}

#shownorestmessage{
    display: flex;
    flex-direction: column;
}

#shownorestmessage p{
    text-align: center;
    font-size: 35px;
}

#shownorestmessage i{
    margin-right: 45%;
    margin-left: 45%;
    color: red;
    font-size: 150px;
}
