/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&family=Koulen&display=swap');

*{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}


.loginregister{
    position: fixed;
    left: 50%;
    top: 50%; 
}

.loginregister form{
    width: 50%;
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 100px; 
    padding-right: 100px; 
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
}

.loginregister form h1{
    text-align: center;
}

.loginregister form button{
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 2px solid black; 
    background-color: rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.loginregister form button:hover{
    border-color: white;
    color: white;
    width: 100%; 
}

.textinput, input[type="password"]{
    border: 5px solid white;
    border-radius: 5px;
    height: 50%;
    width: 100%;
    display: inline-block; 
    box-sizing: border-box;
    padding-left: 35px;
    outline: none;
    font-size: 15px;
}

.textinput:focus, .textinput:hover{
    background-color: rgba(48, 48, 48, 0.1);
    border-color: rgba(48, 48, 48, 0.7);
}


input[type="password"]:focus, input[type="password"]:hover{
    background-color: rgba(48, 48, 48, 0.1);
    border-color: rgba(48, 48, 48, 0.7);
}

#username{
    position: relative;
}

#password, #address, #phonenumber, #confirmpassword, #name{
    margin-top: 1em;
    position: relative;
}

#username i, #password i, #address i, #phonenumber i, #confirmpassword i, #name i{
    position: absolute;
    left: 15px;
    bottom: 8px;
    padding-right: 10px;
}

#acctype{
    margin-top: 1em;
}

#acctype select{
    width: 100%;
}


input[type="password"]:focus + i, input[type="password"]:hover + i, .textinput:focus + i, .textinput:hover + i{
    color: white;
}

.loginregister form span{
    position: absolute;
    color: black;
    right: 40px;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1em;
}

.loginregister form span:hover{
    color: red; 
}

/* MODAL FORM PART */

.disabled{
    display: none;
}

.disabled.show{
    display: block;
}
