/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&family=Koulen&display=swap');

*{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

body{
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100vh;
}


header{
    display: grid;
    grid-column: 1/3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto; 
}

header{
    background-color: black;
    padding: 2em; 
}

header a{
    color: white; 
}

header a:first-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

footer{
    list-style-type: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; 
    background-color: black;
    position: sticky; 
    top: 100%; 
}

footer ul{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: nowrap;
}

footer ul li{
    list-style: none;
    width: auto;
}

footer ul li{
    color: white; 
    float: right;
}

footer ul li i{
    margin-left: 0.5em;
}

footer ul li a{
    margin: 1em;
}

footer ul li a{
    color: white;
}


.profileEditing{
    margin: 0 auto;
}


#changes { 
    /*color: white;*/
    display: inline;
    padding-left: 0em;
    font-weight: 10000;
    margin-left: 100%;
}

header a:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; 
    margin-left: 180%; 
    /* Code for setting border arround login anchor*/
    border-radius: 15px;
    width: 60px;
    height: 25px;
}

