/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&family=Koulen&display=swap');

*{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

body{
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100vh;
}

header{
    display: grid;
    grid-column: 1/3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto; 
}

header{
    background-color: black;
    padding: 2em; 
}

header a{
    color: white; 
}

header a:first-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#searchbar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5px;
    border-color: white;
}

#searchbar:focus{
    outline: none !important;
    border:1px solid black;
    box-shadow: 0 0 10px white;
}

#shopping-cart{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 40%; 
    margin-right: 40%;
}

#shopping-cart::after{
    content: "\f07a";
    font-family: "Font Awesome 5 Free";
    margin-left: 0.5em;;
    font-weight: 900;
}

header a:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; 
    margin-left: 61%; 
    margin-right: 15%;
    /* Code for setting border arround login anchor*/
    border-radius: 15px;
    background: white;
    width: 60px;
    height: 25px;
    text-align: center;
    color: black;
}


header a:nth-child(4){
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 15%; 
    margin-right: 50%;
    /* Code for setting border arround register anchor*/
    border-radius: 15px;
    background: white;
    width: 75px;
    height: 25px;
    text-align: center;
    color: black;
}

.restaurants{
    grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 2; 
    grid-column-end: 3;
    background-color: white;
}

section h1{
    text-align: center;
    font-weight: 900;
}

aside{
    grid-column-start:1; 
    grid-column-end: 2; 
    grid-row-start: 2;
    grid-row-end: 3; 
    margin-left: 1em;
    position: sticky;
}

footer{
    list-style-type: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; 
    background-color: black;
    position: sticky; 
    top: 100%; 
}

footer ul{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: nowrap;
}

footer ul li{
    list-style: none;
    width: auto;
}

footer ul li{
    color: white; 
    float: right;
}

footer ul li i{
    margin-left: 0.5em;
}

footer ul li a{
    margin: 1em;
}



footer ul li a{
    color: white;
}

.restaurants ul{
    list-style-type: none;
}

#toprated{
    display: flex; 
    justify-content: center;
    flex-direction: wrap; 
    flex-wrap: wrap; 
    flex-grow: 1; 
    padding-left: 0em;
    margin-top: 0px;
}

#toprated li{
    margin: 1em;
}

#toprated li img{
    height: 16em; 
    width: 16em; 
    display: block;
}

/* 
Text inside image (disabled temporarly)

#toprated li h2{
    text-shadow: 2px 2px 1px #000000;
    position: absolute;
    text-align: center;
    padding-top: 3.5em;
    padding-left: 0.1em;
    max-width: 20%;
}
*/

#toprated li h2 a{
    color:black; 
    font-size: 20px;
    font-weight: bold;
}

#orderby{
    display: flex; 
    flex-direction: column;
}

#filters{
    display: flex; 
    flex-direction: column;
}