body{
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 0.01fr auto 1fr auto;
}

h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-weight: 900;
    margin-top: 0.5em;
}

#categorias{
    grid-column-start:1; 
    grid-column-end: 2; 
    grid-row-start: 2;
    grid-row-end: 4; 
    margin-left: 1em;
    position: sticky;
}

#categorias a{
    color: black;
}

#carta h2{
    margin-left: 2.2em;
}

#carta{
    grid-row: 4/5;
    grid-column: 2/3; 
    display: grid;  
}

#carta article{
    display: flex; 
    flex-direction: row; 
    flex-grow: 1;
    justify-content: space-around;
}

